body {
    background-color: #555;
    color: #EEE;
    margin-left: 0%;
    margin-right: 0%;
}
a, input{
    color: #FFFFFF !IMPORTANT;
}
/*h1 {
    text-align: center;
}*/
input[type="text"], input[type="password"], .btn-leave, .btn, textarea {
    background-color: #222 !IMPORTANT;
    color: #EEE;
}
/*.container {
    block-align: left;
}*/
.wrapper {
    background-color: #333;
}
.post {
    background-color: #282828;
}
.post .post-header {
      background-color: #33333a;
}
 .post .reply {
    margin: 5px 0 10px;
    border: 4px solid #ffffff;
    background: #282828;
    padding: 10px;
    border-radius: 11px;
}
body h1 a {
    font-size: 32px;
}
hr {
    height: 2px;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em 0;
}

/*body {
    text-align: center;
}*/
table, .post {
    margin-left:auto;
    margin-right:auto;
}
