body {
    background-color: #333;
    color: #EEE;
    margin-left: 5%;
    margin-right: 5%;
}
a, input{
    color: #F4F4F4 !IMPORTANT;
}
h1 {
    text-align: center;
}
input[type="text"], input[type="password"], .btn-leave, .btn, textarea {
    background-color: #222 !IMPORTANT;
    color: #EEE;
}
.wrapper {
    background-color: #333;
}
.post {
    background-color: #282828;
}
.post .post-header {
      background-color: #33333a;
}
 .post .reply {
    margin: 5px 0 10px;
    border: 2px solid #a7efff;
    background: #282828;
    padding: 10px;
    border-radius: 11px;
}
body h1 a {
    font-size: 0px;
}
hr {
    height: 2px;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em 0;
}

body {
    text-align: center;
}
table, .post {
    margin-left:auto;
    margin-right:auto;
}
